<footer class="footer section">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__main-info">
                <a href="#" class="footer__logo logo">
                    <img class="logo__img" src="images/logo.svg" alt="Логотип">
                </a>
                <div class="footer__contacts contacts">
                    <div class="contacts__address">
                        Санкт-Петербург, ул. Тестовая д. 0 офис 0
                    </div>
                    <a href="tel:+70000000000" class="contacts__number">+7(000) 000-00-00</a>
                    <a href="mailto:test@test.ru" class="contacts__email">test@test.ru</a>
                </div>
                <div class="footer__contacts contacts">
                    <div class="contacts__address">
                        Москва, ул. Тестовая д. 0 стр. 0
                    </div>
                    <a href="tel:+70000000000" class="contacts__number">+7(000) 000-00-00</a>
                    <a href="mailto:test@test.ru" class="contacts__email">test@test.ru</a>
                </div>
            </div>
            <ul class="footer__blocks">
                <li class="footer__block">
                    <div class="footer__title">Меню</div>
                    <ul class="footer__menu list list__column">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Главная
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                О компании
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Каталог производителя
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Сертификаты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__block">
                    <div class="footer__title">Каталог</div>
                    <ul class="footer__catalog list list__column">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Активные компоненты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Пассивные компоненты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Светодиоды и светодиодные индикаторы
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Резонаторы и генераторы компоненты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Акустические компоненты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Реле
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Вентиляторы и аксессуары
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Кабели, провода, аксессуары
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Оборудование и материалы для пайки
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Элементы питания и аксессуарыы
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Дисплеи жидкокристаллические
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Электродвигатели
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Антенны
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Готовые изделия
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Разрядники
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Датчики
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</footer>